doctype html 
html 
    head 
        title #{item.title} | ReShare
        link(rel="stylesheet", href="/style.css")

    body
        div.wraper
            include ./includes/nav.pug

            .container
                .detail-card
                    h2.item-title #{item.title}
                    p.item-category Category: #{item.category}
                    
                    .item-meta
                        p
                            strong Condition: 
                            | #{item.item_condition}
                        p
                            strong Listed By: 
                            | #{item.owner_name}
                        p
                            strong Contact: 
                            a(href=`mailto:${item.owner_email}`) #{item.owner_email}
                    
                    .item-description
                        h3 About this item
                        p #{item.description}
                    
                    .action-buttons
                        a.btn(href="/browse") ← Back to Marketplace