doctype html
html(lang="en")
    head
        title User Profile | ReShare
        link(rel="stylesheet", href="/style.css")
    body
        div.wrapper
            include ./includes/nav.pug
            h1.page-title Settings: #{user.name}

            .form-container
                .form-card
                    h3 Account Details
                    p Email: #{user.email}
                    p Role: #{user.role}
                    
                    hr
                    form(action="/update-name", method="POST")
                        input(type="hidden", name="user_id", value=user.user_id)
                        div.form-group
                            label(for="newName") Change Display Name:
                            input(type="text", name="newName", value=user.name, required)
                        button.login-btn(type="submit") Update Profile